/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .preloader {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background: black;
        z-index: 1000000000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform-origin: top;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        display: none;
    }
    
    #preloader-text{
        height: auto;
        width: 200%;
        font-family: 'Stalemate', cursive;
        color: white;
        cursor: default;
        z-index: 100;
        position: absolute;
        bottom: 30vh;
    }
    
    #preloader-img {
        position: absolute;
        height: 50vh;
        top: 15vh;
        z-index: 10;
        opacity: 0;
    }
    
    @keyframes blink {
        0% {
            fill: white;
        }
    
        37% {
            fill: black;
        }
    
        45% {
            fill: white;
        }
    
        60% {
            fill: #BD1E2D;
        }
    
        67% {
            fill: white;
        }
    
        80% {
            fill: black;
        }
    
        90% {
            fill: white;
        }
    
        100% {
            fill: black;
        }
    }
    
    #Path_81, #Path_80 {
        animation: blink 8s infinite alternate;
    }
    
    #float {
        font-family: 'Stardos Stencil', cursive;
        font-size: 1.2em;
        color: black;
        margin: 0;
        position: absolute;
        bottom: 15vh;
        border: 2px solid black;
        padding: 14px 55px;
        cursor: crosshair;
        opacity: 0;
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .preloader {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        background: black;
        z-index: 1000000000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform-origin: top;
        -webkit-transform-origin: top;
        -moz-transform-origin: top;
        -ms-transform-origin: top;
        -o-transform-origin: top;
        /* display: none; */
    }
    
    #preloader-text{
        height: 30vh;
        width: auto;
        font-family: 'Stalemate', cursive;
        color: white;
        cursor: default;
        z-index: 100;
        position: absolute;
        bottom: 25vh;
    }
    
    #preloader-img {
        position: absolute;
        height: 55vh;
        top: 7.5vh;
        z-index: 10;
        opacity: 0;
    }
    
    @keyframes blink {
        0% {
            fill: white;
        }
    
        37% {
            fill: black;
        }
    
        45% {
            fill: white;
        }
    
        60% {
            fill: #BD1E2D;
        }
    
        67% {
            fill: white;
        }
    
        80% {
            fill: black;
        }
    
        90% {
            fill: white;
        }
    
        100% {
            fill: black;
        }
    }
    
    #Path_81, #Path_80 {
        animation: blink 8s infinite alternate;
    }
    
    #float {
        font-family: 'Stardos Stencil', cursive;
        font-size: 2.2em;
        color: black;
        margin: 0;
        position: absolute;
        bottom: 15vh;
        border: 2px solid black;
        padding: 14px 55px;
        cursor: crosshair;
        opacity: 0;
        display: none;
    }
}